body {
    font-family: arial,sans-serif;
    margin-top: 15px;
    position: absolute;
    width: 100%;
}
a:hover{
    text-decoration: underline;
    opacity: 1;
}
a {
    padding-left: 15px;
    color: inherit;
    font-size: 13px;
    align-items: center;
    display: flex;
}
.left-anchor {
    display: inline-block;
    text-decoration: none;
    opacity: .75;
    min-height: 30px;
}
.right-anchor {
    min-height: 30px;
    opacity: .75;
    text-decoration: none;
    display: flex;
    float: right;
}
.button-apps {
    width: 30px;
    height: 30px;
    background-image: url('//ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    background-position: -132px -38px;
    opacity: .55;
    background-size: 528px 68px;
}
#git-image {
    margin-right: 25px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
#google-logo {
    padding-top: 90px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#search-block {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 600px;
    height: 50px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}
.material-icons {
    color: #9AA0A6;
    padding-right: 13px;
    display: inline-block;
    align-items: center;
    height: 20;
    width: 20;
}
.search-box {
    flex-basis: 100%;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
}